<%= simple_form_for(@tipo_producto) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :Co_TipoProducto %>
    <%= f.input :No_CoTipoProducto %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
