<h2>Reserva de cliente</h2>
<%- model_class = Reserva -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:sala_id) %></th>
      <th><%= model_class.human_attribute_name(:fe_reserva) %></th>
      <th><%= model_class.human_attribute_name(:descripcion) %></th>
      <th><%= model_class.human_attribute_name(:aprobado) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @reserva_cli.each do |reserva| %>
      <tr>
        <td><%= link_to reserva.id, reserva_path(reserva) %></td>
        <td><%= reserva.sala_name %></td>
        <td><%= reserva.fe_reserva %></td>
        <td><%= reserva.descripcion %></td>
        <td><%= reserva.aprobado == '1' ? 'Aprobado' :'Des-aprobado' %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_reserva_path(reserva), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      reserva_path(reserva),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            reservaclinew_path,
            :class => 'btn btn-primary' %>
