<%- model_class = Local -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:No_Local) %></th>
      <th><%= model_class.human_attribute_name(:No_Direccion) %></th>
      <th><%= model_class.human_attribute_name(:Nu_Telefono) %></th>
      <th><%= model_class.human_attribute_name(:Tx_Correo) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @locals.each do |local| %>
      <tr>
        <td><%= link_to local.id, local_path(local) %></td>
        <td><%= local.No_Local %></td>
        <td><%= local.No_Direccion %></td>
        <td><%= local.Nu_Telefono %></td>
        <td><%= local.Tx_Correo %></td>
        <td><%=l local.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_local_path(local), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      local_path(local),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            reservaclinew_path,
            :class => 'btn btn-primary' %>
