<div class="container">
  <div class="row">
    <div class='col-md-8 '>
      <div class="panel panel-primary">
        <div class="panel-heading">Formulario Empleado</div>
        <div class="panel-body">
          
              <%= simple_form_for @employee, :html => { :class => 'form-horizontal' } do |f| %>
                <%= f.input :nombre  %>
                <%= error_span(@employee[:nombre]) %>
                <%= f.input :apellido  %>
                <%= error_span(@employee[:apellido]) %>
                <%= f.input :dni %>
                <%= error_span(@employee[:dni]) %>
                <%= f.input :correo %>
                <%= error_span(@employee[:correo]) %>
                <%= f.input :password %>
                <%= error_span(@employee[:password]) %>
                <%= f.input :admin, :html => { :class => 'form-inline' }, inline_label: 'Administrador'%>
                
                <%= error_span(@employee[:admin]) %>
               <div class="panel-footer">
                <%= f.button :submit, :class => 'btn-primary' %>
                <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                              employees_path, :class => 'btn btn-default' %>
               </div>
              <% end %>
        </div>
       
         
       
      </div>
    </div>
  </div>
</div>
