<%- model_class = Reserva -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:co_reserva) %>:</strong></dt>
  <dd><%= @reserva.co_reserva %></dd>
  <dt><strong><%= model_class.human_attribute_name(:co_sala) %>:</strong></dt>
  <dd><%= @reserva.co_sala %></dd>
  <dt><strong><%= model_class.human_attribute_name(:no_dni) %>:</strong></dt>
  <dd><%= @reserva.no_dni %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fe_reserva) %>:</strong></dt>
  <dd><%= @reserva.fe_reserva %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tx_Description) %>:</strong></dt>
  <dd><%= @reserva.tx_Description %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              reservas_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_reserva_path(@reserva), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              reserva_path(@reserva),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
