<div class="container">
  <div class="row">
    <div class='col-md-8 '>
      <div class="panel panel-primary">
         <div class="panel-heading">Iniciar Sesión</div>
         <div class="panel-body">
             
            <%= form_tag(:action => 'login') do %>
                <%= label_tag(:dni) %>
                <%= text_field_tag(:dni) %>
                </br>
                <%= label_tag(:password) %>
                <%= text_field_tag(:password) %>
                </br>
              
            <% end %>
         </div>
      </div>
    </div>
  </div>
</div>