<%- model_class = Evento -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:co_evento) %></th>
      <th><%= model_class.human_attribute_name(:co_local) %></th>
      <th><%= model_class.human_attribute_name(:fe_evento) %></th>
      <th><%= model_class.human_attribute_name(:qt_capacidad) %></th>
      <th><%= model_class.human_attribute_name(:descripcion) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @eventos.each do |evento| %>
      <tr>
        <td><%= link_to evento.id, evento_path(evento) %></td>
        <td><%= evento.co_evento %></td>
        <td><%= evento.co_local %></td>
        <td><%= evento.fe_evento %></td>
        <td><%= evento.qt_capacidad %></td>
        <td><%= evento.descripcion %></td>
        <td><%=l evento.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_evento_path(evento), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      evento_path(evento),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_evento_path,
            :class => 'btn btn-primary' %>
