<%= simple_form_for(@administrator_local) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :employee %>
    <%= f.association :local %>
    <%= f.input :estado %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
