<div class="container">
  <div class="row">
    <div class='col-md-4  col-sm-offset-4'>
      <div class="panel panel-primary">
        <div class="panel-heading kostic medium">Iniciar Sesión</div>
          <div class="panel-body">
            <center><%= image_tag('user.png', width:'150', height:'150', align:"center", :class =>'img-responsive img-circle') %></center>
            <br>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
    					<%= f.label :email %><br />
    					<div class="cols-sm-10">
    						<div class="input-group">
    							<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
    							<%= f.email_field :email, autofocus: true %>
    						</div>
    					</div>
    				</div>
              <div class="form-group">
              	<%= f.label :password %><br />
            		<div class="cols-sm-10">
            			<div class="input-group">
            				<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
            				<%= f.password_field :password, autocomplete: "off" %>
            			</div>
            		</div>
              </div>
              
              <% if devise_mapping.rememberable? -%>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end -%>
              
              <div class="actions">
                <%= f.submit "Log in" %>
              </div>
              <% end %>
              
              <%= render "devise/shared/links" %>
          </div>
        </div>
    </div>
  </div>
</div>

