<%- model_class = Inventario -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:local_id) %>:</strong></dt>
  <dd><%= @inventario.local_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:producto_id) %>:</strong></dt>
  <dd><%= @inventario.producto_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cant) %>:</strong></dt>
  <dd><%= @inventario.cant %></dd>
  <dt><strong><%= model_class.human_attribute_name(:precio_compra) %>:</strong></dt>
  <dd><%= @inventario.precio_compra %></dd>
  <dt><strong><%= model_class.human_attribute_name(:precio_venta) %>:</strong></dt>
  <dd><%= @inventario.precio_venta %></dd>
  <dt><strong><%= model_class.human_attribute_name(:entrada_salida)   %>:</strong></dt>
  <dd><%= @inventario.entrada_salida == 'S' ? 'Salida' :'Entrada'%></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              inventarios_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_inventario_path(@inventario), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              inventario_path(@inventario),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
