<li><%= link_to "Mantenimiento de locales", productos_new_path %></li>

<li><%= link_to "Mantenimiento de salas", salas_new_path  %></li>

<li><%= link_to "Mantenimiento de productos", tipo_productos_new_path  %></li>

<li><%= link_to "Mantenimiento de eventos", eventos_new_path  %></li>

<li><%= link_to "Mantenimiento de Empleados", employees_path  %></li>