<li><%= link_to "Mantenimiento de Empleados", employees_path  %></li>

<li><%= link_to "Mantenimiento de Tipo de Productos", tipo_productos_new_path  %></li>

<li><%= link_to "Mantenimiento de Productos", productos_new_path  %></li>

<li><%= link_to "Mantenimiento de Locales", locals_new_path %></li>

<li><%= link_to "Mantenimiento de Salas", salas_new_path %></li>

<li><%= link_to "Mantenimiento de Eventos", eventos_new_path  %></li>

