<li><%= image_tag "tiendus.png",width:"200" %></li>

<li><%= link_to "Acerca de nosotros", pages_about_us_path  %></li>

<li><%= link_to "Preguntas frecuentes", pages_faq_path  %></li>

<li><%= link_to "Términos de servicio", pages_tos_path  %></li>

<li><%= link_to "Contactanos", pages_contact_us_path  %></li>

<li><%= link_to "Intranet", intranet_path  %></li>

<li><%= link_to "Nuevo Usuario", new_user_registration_path  %></li>

<li><%= link_to "Productos", href="https://ecommerce-mcastroascencio.c9users.io"%></li>