<!DOCTYPE html>
<html>
<head>
  <title>Karaoke</title>
   <meta name="viewport" content="width=device-width , initial-scale=1.0" />
     <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Latest compiled and minified CSS -->
    <%= yield :stylesheets %>
</head>
<body>
<header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="material-icons">queue_music</i>KARAOKE</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to 'home', root_path %></li>
             
              
              <!--<li><a href="/home/testimonio">Testimonios</a></li>-->
             
              <% if current_user %>
                <li class="dropdown">
                  <span class="hidden" id="userId"><%= current_user.id %></span>
                   <span class="hidden" id="userId"><%= @auth.inspect %></span>
                  <a href="#" id="image-profile" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    
                    <% if @auth!= nil %>
                      <%= current_user.nombre %>    <%= image_tag(@auth['info']['image'], width:'60', height:'60', class:'img-responsive img-circle') %>
                      
                    <% else %>
                      <%= current_user.nombre %>    <%= image_tag('profile-default.png', width:'60', height:'60', :class =>'img-responsive img-circle') %>
                     
                    <% end %>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Mi cuenta', home_index_path %></li>
                     <li><%= link_to 'Perfil',edit_user_registration_path%></li> 
                     <% if current_user.admin == true %>
                        <li><%= link_to 'Administrar Usuarios', rails_admin.dashboard_path %></li> 
                      <% end %>
                    <li role="separator" class="divider"></li>
                    <li><%= link_to 'Cerrar Sessión', destroy_user_session_path, :method => 'DELETE' %></a></li>
                  </ul>
                </li>
              <% else %>
                <li class="dropdown">
                  <a href="#" id="image-profile" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    
                    <%= image_tag('profile-default.png', width:'60', height:'60', :class =>'img-responsive img-circle') %>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Iniciar Sesión', new_user_session_path %></li>
                    <li><%= link_to 'Registrarse', new_user_registration_path  %></li>
                  </ul>
                </li>
              <% end %>
              
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </header>
    <!-- /header -->
    

      
       <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %> alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= value %>
          </div>
        <% end %>
        <div id="main_container" class="container">
          <main>
            <%= yield %>

          </main>
        </div>
    <!-- /footer -->
    <footer class="bs-docs-footer">
          <div class="container">
            
            
            
            <div class="pull-left">
              ©  Todos los derechos reservados.
            </div>
            
            <div class="text-right">
              <a class="fa-stack fa-lg" href="#">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </a>
              <a class="fa-stack fa-lg" href="#">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </a>
              <a class="fa-stack fa-lg" href="#">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
              </a>
            </div>
            
          </div>
        </footer>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :javascript %>
</body>
</html>
